@model Pospos.AdminUI.Models.ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PosPos - Yönetim Paneli</title>

    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">*@
    <link href="/fonts/SourceSansPro/SourceSansPro.css" rel="stylesheet" />
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/login"><strong>Pos</strong>Pos</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                @if (!Model.Success && !string.IsNullOrWhiteSpace(Model.Message))
                {
                    <div class="help-block text-center text-danger">
                        @Model.Message
                        <br />
                        <br />
                    </div>
                }

                @if (Model.Success)
                {
                    <div class="help-block text-center text-success">
                        @Model.Message
                        <br />
                        <br />
                    </div>
                }
                @if (!Model.Success)
                {
                    <p class="login-box-msg">Şifrenizin süresi dolduğu için yenilenemeniz gerekmektedir.</p>
                }
                <form action="/change-password" method="post" id="change-password-form">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="nowpassword" placeholder="Mevcut Şifreniz" required @(Model.Success ? "disabled" : "")>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Yeni Şifreniz" required @(Model.Success ? "disabled" : "")>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="passwordAgain" placeholder="Yeni Şifreniz (Tekrar)" required @(Model.Success ? "disabled" : "")>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            &nbsp;
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block" @(Model.Success ? "disabled" : "")>Şifremi Değiştir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>

    @if (Model.Success)
    {
        <script type="text/javascript">
            setTimeout(
                function () {
                    window.location.href = "/";
                }, 3000);

            $(document).ready(
                setTimeout()
            );
        </script>
    }
</body>
</html>
